ul.experiencia-area,
ul.projeto-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.projeto-titulo {
    display: flex;
}

.projeto-area a {
    border-bottom: 1px double #fff;
}
.calendar {
    position: relative;
    padding-left: 1rem;
}

.descricao {
    padding-bottom: 1rem;
    font-size: 1em;
 
}

.experiencia-area .descricao {
    padding-top: 0.5rem;
}

.accordion-flex.ativo > .accordion-conteudo > ul > li > span {
    display: flex;
    align-items: flex-start;
    font-size: 1em;
}

.accordion-flex.ativo > .accordion-conteudo > ul > li > span::before,
.accordion-flex.ativo > .accordion-conteudo > ul > li > .projeto-titulo::before {
  
    width: 1.2rem;
    height: 1.2rem;
    content: '';
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    padding-right: .5rem;
}

.accordion-flex.ativo > .accordion-conteudo > ul > li > span::before {
    background-image: url('../icons/calendar.svg');
}

.accordion-flex.ativo > .accordion-conteudo > ul > li > .projeto-titulo::before {
    background-image: url('../icons/github.svg');
}


.certificado-area {
    display: flex;
    align-items: flex-start;
}

.certificado-area li {
   gap: 10px;
}

.certificado-area .certificado {
    max-width: 304px;
    flex: 2;
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.certificado:hover {
    transform: scale(1.1);
}

.certificado-area li:nth-child(n+4) { 
    justify-content: flex-start;
}