.imagem-area {
    display: flex;
    justify-content: space-between;
}

.imagem-area .foto {
    max-width: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #ff3030cc; 
    transition: transform 0.3s ease-in-out;
}

.imagem-area .nome-area {
    display: flex;
    flex-direction: column;
    margin-left: 0.8rem;

}

/* @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}
@keyframes blink {
    50% { border-color: transparent; }
} */

.titulo-nome {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    color: #ff3030cc;
    text-shadow: 0 0 5px #FF3030, 0 0 7px #D100D1;
}

h1.titulo-nome {
    border-right: 2px solid #fff; 
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(20, end), blink 0.7s infinite;
}

@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
}
  
@keyframes blink {
    50% {
    border-color: transparent;
    }
}

h1.titulo-nome::after {
    content: "";
    animation: hideCursor 0.1s 3s forwards;
}

@keyframes hideCursor {
    to {
      border-right: none;
    }
}

h3.titulo-nome {
    font-size: 1.5rem;
}
  
.imagem-area .foto:hover {
    transform: scale(1.05) rotate(2deg);
}

.contato-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
}

.email, .cel {
    display: flex;
    align-items: center;
}

.contato-area .cel::before, .nome-area p::before, .contato-area .email::before  {
    background-image: url('../icons/whatsapp.svg');
    content: '';
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    fill: #cf0000;
    stroke: #0b92e6;
    padding-left: .5rem;
    background-size: contain;
    filter: drop-shadow(0 0 7px #D100D1);
}

.nome-area p::before {
    background-image: url('../icons/usuario.svg');
    padding-left: 1.5rem;
}

.contato-area .email::before {
    background-image: url('../icons/email.svg');

}

@media (max-width: 500px) {
    .imagem-area {
        flex-direction: column;
        align-items: center;
    }

    .imagem-area .nome-area {
        align-items: center;
        margin-top: 0.8rem;
    }

    .info-area {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
  
  @media (min-width: 1024px) {
    body {
      font-size: 1.25rem; /* 20px → 20 ÷ 16 = 1.25rem */
      padding: 2.5rem; /* 40px → 40 ÷ 16 = 2.5rem */
    }
  }

  @media (min-width: 600px) {
    body {
      font-size: 1.125em;
      padding: 1.25em;
    }
  }
  
  @media (min-width: 1024px) {
    body {
      font-size: 1.25em;
      padding: 2.5em;
    }
}