.imagem-area {
    display: flex;
    justify-content: space-between;
}

.imagem-area .foto {
    max-width: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #ff3030cc; 
    transition: transform 0.3s ease-in-out;
}

.imagem-area {
    margin-left: 0.8rem;
}

.titulo-nome {
    font-weight: bold;
    color: #ff3030cc;
    text-shadow: 0 0 5px #FF3030, 0 0 7px #D100D1;
    margin: 0;
}

h1.titulo-nome {
    border-right: 2px solid #fff; 
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(20, end), blink 0.7s infinite;
    font-size: clamp(2rem, 9vw, 2.5rem);
    display: inline-block;
}

h2.titulo-nome {
    font-size: 1.7em;
    text-shadow: 0 0 7px #FF3030, 0 0 3px #12c7d0;
    font-weight: 700;
}

@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
}
  
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.container-apresentacao {
    padding-top: 1em;
    max-width: 100%;
}

h1.titulo-nome::after {
    content: "";
    animation: hideCursor 0.1s 3s forwards;
}

@keyframes hideCursor {
    to {
      border-right: none;
    }
}

.nome-area p {
    text-align: center;    
    font-size: 1rem;
}

h3.titulo-nome {
    font-size: 1.5rem;
    align-self: center;
}
  
.imagem-area .foto:hover {
    transform: scale(1.05) rotate(2deg);
}

.info-area {
    display: flex;
    flex-direction: column;
}

.contato-area {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.email, .cel {
    display: flex;
    align-items: center;
}

.contato-area .cel::before, .nome-area p::before, .contato-area .email::before  {
    background-image: url('../icons/whatsapp.svg');
    content: '';
    width: 20px;
    height: 19px;
    background-repeat: no-repeat;
    fill: #cf0000;
    stroke: #0b92e6;
    padding-left: .5rem;
    background-size: contain;
    filter: drop-shadow(0 0 7px #D100D1);
}

.nome-area p::before {
    background-image: url('../icons/usuario.svg');
    padding-left: 1.5rem;
}

.contato-area .email::before {
    background-image: url('../icons/email.svg');
}

/* Scrollbar para navegadores baseados em WebKit */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #121212; /* Fundo dark suave */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg,#ff3030cc, #15c4ca); /* Azul e vermelho suaves */
    border-radius: 10px;
    transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #ff4747, #00a8e8); /* Hover mais vibrante */
}